@import url("https://fonts.googleapis.com/css?family=Black+Ops+One|Cabin:500,700|Montserrat:400,700i|Roboto");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

::-webkit-scrollbar {
  width: .8rem; }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #fff;
  box-shadow: inset 0 0 0.6rem rgba(0, 0, 0, 0.3); }

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #fff;
  box-shadow: inset 0 0 0.6rem rgba(0, 0, 0, 0.3); }

body {
  padding: 0;
  width: 0;
  font-family: "Cabin", sans-serif;
  font-size: 1.8rem;
  line-height: 1.7;
  font-weight: 400;
  box-sizing: border-box;
  width: 100vw;
  min-width: 767px;
  background: #222e4f;
  overflow-x: hidden; }

.headingPrimary {
  display: block;
  margin: 0 auto; }

.headingSecondary {
  position: relative;
  font-size: 3rem;
  margin: 5rem auto;
  display: inline-block;
  color: #222e4f; }
  .headingSecondary:after {
    content: "";
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 2.5rem;
    margin: 2.5rem auto;
    height: 2px;
    width: 25rem;
    border-radius: 2px;
    display: inline-block;
    position: absolute;
    background-image: -webkit-linear-gradient(225deg, #00cf8a, #0084d6);
    background-image: linear-gradient(225deg, #00cf8a, #0084d6);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.headingTertiary {
  font-family: "Montserrat", sans-serif;
  font-weight: 800; }

a,
a:hover {
  text-decoration: none; }

.img-fluid {
  height: 12px; }

.my_pill,
.pill {
  color: #fff;
  display: inline;
  position: absolute;
  top: 3px;
  right: 13px;
  height: 30px;
  padding: 7px 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px; }

.my_pill {
  background: #222e4f; }

.pill {
  background: #126d91; }

.navbar-container {
  width: 100%;
  position: fixed;
  z-index: 99; }
  .navbar-container .navbar {
    background: transparent;
    color: #ebebd3;
    padding: 1em 0;
    position: relative;
    z-index: 100;
    transition: all 0.5s ease-in; }
    .navbar-container .navbar .container {
      width: 100%;
      max-width: 1000px;
      margin: 0 auto; }
    .navbar-container .navbar::after {
      content: "";
      clear: both;
      display: block; }
    .navbar-container .navbar .logo {
      float: left;
      margin: 0;
      font-size: 35px;
      color: #00dd6e;
      font-weight: 700;
      font-family: "Black Ops One", cursive; }
      .navbar-container .navbar .logo span {
        font-weight: 400; }
    .navbar-container .navbar .site-nav {
      position: absolute;
      top: 100%;
      right: 0%;
      background: #464655;
      clip-path: circle(0px at top right);
      transition: clip-path ease-in-out 700ms;
      /*   display: none; */ }
      .navbar-container .navbar .site-nav--open {
        clip-path: circle(250% at top right);
        /*   display: block; */ }
      .navbar-container .navbar .site-nav ul {
        margin: 0;
        padding: 0;
        list-style: none; }
      .navbar-container .navbar .site-nav li {
        border-bottom: 1px solid #575766; }
        .navbar-container .navbar .site-nav li:last-child {
          border-bottom: none;
          margin-bottom: 0; }
      .navbar-container .navbar .site-nav a {
        color: #ebebd3;
        display: block;
        padding: 1.2em 2.2em 1.2em 0.8em;
        text-transform: uppercase;
        text-decoration: none; }
        .navbar-container .navbar .site-nav a:hover, .navbar-container .navbar .site-nav a:focus {
          background: #222e4f;
          color: #fff; }
      .navbar-container .navbar .site-nav--icon {
        display: inline-block;
        font-size: 1em;
        margin-right: 1em;
        width: 1.1em;
        text-align: right;
        color: rgba(255, 255, 255, 0.4); }
    .navbar-container .navbar .menu-toggle {
      padding: 1em;
      position: absolute;
      top: 0.5em;
      right: 0.5em;
      cursor: pointer; }
    .navbar-container .navbar .hamburger,
    .navbar-container .navbar .hamburger::before,
    .navbar-container .navbar .hamburger::after {
      content: "";
      display: block;
      background: #ebebd3;
      height: 3px;
      width: 1.75em;
      border-radius: 3px;
      transition: all ease-in-out 500ms; }
    .navbar-container .navbar .hamburger::before {
      transform: translateY(-6px); }
    .navbar-container .navbar .hamburger::after {
      transform: translateY(3px); }
    .navbar-container .navbar .open .hamburger {
      transform: rotate(45deg); }
    .navbar-container .navbar .open .hamburger::before {
      opacity: 0; }
    .navbar-container .navbar .open .hamburger::after {
      transform: translateY(-3px) rotate(-90deg); }
    @media (min-width: 700px) {
      .navbar-container .navbar .menu-toggle {
        display: none; }
      .navbar-container .navbar .site-nav {
        height: auto;
        position: relative;
        background: transparent;
        float: right;
        clip-path: initial; }
        .navbar-container .navbar .site-nav li {
          display: inline-block;
          border: none; }
          .navbar-container .navbar .site-nav li .sign_up_btn {
            padding: 7px 20px;
            border: 2px solid #00dd6e;
            border-radius: 10px; }
            .navbar-container .navbar .site-nav li .sign_up_btn:hover {
              background-image: -webkit-linear-gradient(225deg, #00cf8a, #0084d6);
              background-image: linear-gradient(225deg, #00cf8a, #0084d6); }
        .navbar-container .navbar .site-nav a {
          padding: 0;
          margin-left: 2.5em; }
          .navbar-container .navbar .site-nav a:hover, .navbar-container .navbar .site-nav a:focus {
            background: transparent;
            color: #fff;
            cursor: pointer; }
        .navbar-container .navbar .site-nav--icon {
          display: none; } }
  .navbar-container .hover-border {
    font-family: "Segeo UI" Tahoma;
    text-decoration: none;
    position: relative;
    color: black; }
    .navbar-container .hover-border::after {
      content: "";
      width: 0%;
      height: 4px;
      position: absolute;
      bottom: 0;
      left: 50%;
      border-radius: 10px;
      transition: all 0.5s ease-in;
      background: #00dd6e; }
    .navbar-container .hover-border:hover::after {
      left: 0%;
      width: 100%; }

.header {
  background: url("../assets/calligraphy-decorative-fountain-pen-39065.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
  height: 100%;
  width: 100%;
  text-align: center; }
  .header__content {
    background: #222e4f;
    opacity: 0.9;
    height: 100vh;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center; }
    .header__content--text {
      width: 100%; }
      .header__content--text .headingPrimary {
        font-size: 40px;
        margin-bottom: 1.5rem; }
    .header__content--form {
      width: 100%;
      background: #fff;
      border-radius: 1.5rem;
      padding: 1.5rem;
      position: relative;
      -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75); }
      .header__content--form .form {
        width: 100%;
        box-shadow: 0 2px 4px 10px #fff; }
        .header__content--form .form__header {
          background: #222e4f;
          font-size: 18px;
          padding: 1rem;
          font-family: inherit;
          position: absolute;
          top: 1rem;
          left: 0;
          width: 100%;
          color: #f5f8fa; }
        .header__content--form .form__content {
          position: relative;
          padding-top: 7rem;
          padding-bottom: 3rem;
          font-size: 15px; }
          .header__content--form .form__content .col-form-label {
            text-align: left;
            color: #222e4f; }
          .header__content--form .form__content .form-control {
            font-size: 100%;
            height: 100%; }
    @media only screen and (max-width: 767px) {
      .header__content--text {
        margin-top: -150px; }
      .header__content--form {
        display: none; }
      .header__content .headingPrimary {
        font-size: 30px;
        margin-bottom: 1.5rem; }
      .header__content .headingTertiary {
        font-size: 15px; }
      .header__content .btn1 {
        font-size: 15px;
        border-radius: 15px;
        padding: 7px 12px;
        margin: 1.5rem auto; }
      .header__content .formsubmit {
        padding: 0.5rem 1.5rem;
        margin-top: -20px; } }

.custom_paper {
  padding-bottom: 5rem;
  margin-top: -12rem;
  background: #222e4f;
  text-align: center; }
  .custom_paper .headingSecondary {
    color: #fff; }
  .custom_paper .mycard {
    color: #fff;
    border-radius: 12px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.41);
    -moz-box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.41);
    box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.41);
    position: relative;
    transition: all 0.5s ease-in-out;
    padding: 1.5rem;
    text-align: center;
    margin-bottom: 2.5rem; }
    .custom_paper .mycard:hover {
      transform: scale(1.04);
      -webkit-box-shadow: 0px 2px 8px 0px rgba(255, 255, 255, 0.81);
      -moz-box-shadow: 0px 2px 8px 0px rgba(255, 255, 255, 0.81);
      box-shadow: 0px 2px 8px 0px rgba(225, 255, 255, 0.81); }
    .custom_paper .mycard__icon {
      font-size: 5rem;
      margin-bottom: 2.5rem;
      margin-top: 1.5rem; }
      .custom_paper .mycard__icon i {
        background-image: -webkit-linear-gradient(225deg, #00cf8a, #0084d6);
        background-image: linear-gradient(225deg, #00cf8a, #0084d6);
        display: inline-block;
        -webkit-background-clip: text;
        color: transparent; }
    .custom_paper .mycard__header {
      font-size: 20px;
      margin: 1.5rem auto;
      margin-bottom: 0.4rem;
      font-weight: bold; }
    .custom_paper .mycard__body {
      font-weight: 400;
      opacity: 0.85;
      font-family: "Montserrat", sans-serif; }
  @media only screen and (max-width: 767px) {
    .custom_paper {
      margin-top: -2.5rem; }
      .custom_paper .headingSecondary {
        font-size: 20px; } }

.testimonials {
  color: #fff;
  min-height: 300px;
  text-align: center;
  padding-bottom: 12rem;
  background: #126d91; }
  .testimonials .container {
    padding-top: 7rem; }
  .testimonials .headingSecondary {
    color: #fff;
    margin-top: -1.5rem;
    margin-bottom: 5rem; }
  .testimonials__content .testmonial {
    margin: 10px 15px;
    padding: 0 0 20px 20px;
    position: relative; }
  .testimonials__content .pic {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    border: 4px solid #f5f8fa;
    border-radius: 50px;
    padding: 5px; }
  .testimonials__content .pic img {
    margin: 0 auto;
    text-align: center;
    border-radius: 50px;
    width: 80px;
    height: 80px; }
  .testimonials__content .testmonial-review {
    border: 5px solid #eeeeee;
    border-radius: 10px;
    font-size: 17.5px;
    margin: 0 0 20px;
    padding: 10px 20px;
    min-height: 150px;
    position: relative; }
    .testimonials__content .testmonial-review p {
      font-style: italic;
      font-size: normal;
      line-height: 24px;
      padding: 9px 0 0 49px;
      color: #f1f3f9;
      font-size: 15px;
      position: relative; }
      .testimonials__content .testmonial-review p:before {
        content: "\f10d";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        position: absolute;
        left: 0;
        top: 10px;
        font-size: 30px;
        background-image: -webkit-linear-gradient(225deg, #00cf8a, #0084d6);
        background-image: linear-gradient(225deg, #00cf8a, #0084d6);
        -webkit-background-clip: text;
        color: transparent; }
  .testimonials__content .testmonial-title {
    color: #eeeeee;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    position: absolute;
    bottom: 0px;
    right: 13px; }
    .testimonials__content .testmonial-title a {
      color: #f5f8fa; }
  .testimonials__content .owl-theme .owl-controls {
    margin-top: 30px;
    /* font-size: 15px;
            color: #7c7c7c; */ }
    .testimonials__content .owl-theme .owl-controls a {
      color: #dc005a;
      font-size: 15px;
      font-family: tahoma;
      font-weight: bold; }
    .testimonials__content .owl-theme .owl-controls .owl-page span {
      background: #fff;
      display: block;
      height: 8px;
      margin: 5px 2.5px;
      width: 30px;
      border-radius: 0; }
  .testimonials__content .owl-theme .owl-controls .owl-page.active span,
  .testimonials__content .owl-theme .owl-controls.clickable .owl-page:hover span {
    background-image: -webkit-linear-gradient(225deg, #00cf8a, #0084d6);
    background-image: linear-gradient(225deg, #00cf8a, #0084d6); }
  @media only screen and (max-width: 767px) {
    .testimonials {
      margin-top: -30px; }
      .testimonials .headingSecondary {
        font-size: 20px;
        font-weight: bolder; } }

.footer {
  position: relative;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.75; }
  .footer .container {
    margin-top: 0.1px;
    text-align: center; }
    .footer .container ul {
      text-align: left; }
      .footer .container ul li {
        list-style: none; }
        .footer .container ul li a {
          text-decoration: none;
          color: #f5f8fa;
          font-size: 16px; }
    .footer .container p {
      color: #f5f8fa;
      font-size: 17px; }
    .footer .container input[type="email"] {
      border: 0;
      outline: none;
      padding-left: 7px;
      border-radius: 7px;
      color: #222e4f;
      display: inline-block;
      margin-bottom: 10px;
      width: 100%; }
    .footer .container form {
      width: 90%; }
    .footer .container input[type="submit"] {
      display: inline-block;
      border: 0;
      background-image: -webkit-linear-gradient(225deg, #00cf8a, #0084d6);
      background-image: linear-gradient(225deg, #00cf8a, #0084d6);
      width: 100%;
      padding: 4px 10px;
      color: #f5f8fa; }
    .footer .container .social-icons {
      margin-bottom: 7px; }
      .footer .container .social-icons a {
        color: #fff; }
        .footer .container .social-icons a:not(:last-child) {
          padding-right: 10px; }
    .footer .container .copyright {
      font-size: 16px;
      color: #fff;
      margin-top: 15px; }
    @media only screen and (max-width: 767px) {
      .footer .container .social-icons {
        margin-bottom: 7px; }
        .footer .container .social-icons a {
          color: #fff; }
          .footer .container .social-icons a:not(:last-child) {
            padding-right: 5px; }
      .footer .container ul {
        text-align: center; } }

.page-container {
  background: #f1f3f9; }

.display {
  padding: 10px 200px; }
  @media only screen and (max-width: 767px) {
    .display {
      padding: 10px 80px; } }
  .display__content {
    width: 100%;
    font-size: 65% !important;
    min-height: 140vh;
    font-family: "Roboto", sans-serif;
    margin-bottom: 5rem;
    margin-top: 5rem; }
    .display__content .headingTertiary {
      text-align: center;
      color: #00dd6e; }
    .display__content input,
    .display__content textarea {
      height: 40px;
      font-size: 18px;
      outline: none;
      box-shadow: none !important;
      border: 2px solid #ccc !important;
      color: gray; }
    .display__content label {
      color: #a6a6a6; }
    .display__content .submit {
      width: 60% !important;
      display: block;
      margin: 10px auto;
      background: #222e4f;
      color: white;
      transition: background 0.3s ease-out;
      height: 40px;
      border-radius: 10px;
      font-weight: bolder;
      cursor: pointer; }
      .display__content .submit:hover {
        background: #126d91; }
    .display__content input,
    .display__content textarea {
      padding-left: 5px; }
    .display__content select,
    .display__content option {
      color: gray;
      font-size: 18px; }
    .display__content option {
      font-size: 13px !important; }
    .display__content .card-header {
      background: #126d91;
      color: #fff;
      font-size: 13px !important;
      text-transform: uppercase; }
    .display__content .select,
    .display__content .my_select {
      border: 2px solid #ccc !important;
      height: 40px; }
      .display__content .select:before,
      .display__content .my_select:before {
        content: "";
        background: #ccc !important; }
    .display__content input[type="number"] {
      border-radius: 0;
      height: 30px !important;
      width: 100% !important;
      display: block; }
    .display__content input[type="number"]:focus,
    .display__content input[type="number"]:hover {
      background: transparent;
      color: gray; }
    .display__content button {
      background: #ccc;
      border-radius: 0;
      height: 44px !important;
      box-shadow: none; }
      .display__content button:hover {
        background: #c2c2c2; }
    .display__content .forms2__textarea {
      display: block; }
    .display__content .id_card {
      display: none; }
    .display__content .input-label {
      background: #222e4f;
      height: 35px;
      color: #fff;
      padding: 7px;
      font-size: 13px;
      width: 100%;
      transition: background 0.3s ease-out; }
      .display__content .input-label:hover {
        background: #222e4f;
        cursor: pointer; }
    .display__content .btn-submit {
      font-size: 15px;
      width: 90% !important;
      height: 35px !important;
      margin-right: 7px !important;
      background: #126d91;
      cursor: pointer;
      transition: background 0.3s ease-out; }
      .display__content .btn-submit:hover {
        background: #222e4f; }
    .display__content .forms2__label {
      width: 90%;
      color: #126d91;
      font-size: 17px;
      margin-left: 7px;
      cursor: pointer;
      font-weight: bolder; }
    .display__content .btn {
      font-size: 10px;
      padding-top: 10px; }
    .display__content .btn-message {
      text-decoration: none;
      color: #fff;
      background: #126d91;
      padding: 4px;
      text-align: center; }
    .display__content .my_select {
      width: 100%;
      display: block;
      border: none; }
    .display__content .danger {
      background: #cc0000;
      color: #fff;
      border: none; }
      .display__content .danger:hover {
        background: #f50000;
        color: #fff; }
    .display__content .move-up {
      margin: 0 0 0 0 !important;
      transform: translateX(20px);
      width: 100%;
      padding: 7px 30px !important;
      height: 30px !important;
      font-size: 10px !important; }
    @media only screen and (max-width: 767px) {
      .display__content label {
        display: block; } }

.order_now {
  background: url("../assets/class-composition-creativity-207756.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 360px;
  text-align: center;
  padding-top: 20px; }
  .order_now__heading {
    color: #000; }
  .order_now .container-fluid {
    background: #f5f8fa;
    opacity: 0.8;
    width: 100%;
    min-height: 300px; }
    .order_now .container-fluid .headingSecondary {
      color: #000; }
    .order_now .container-fluid p {
      font-size: 2rem;
      color: #000; }
    .order_now .container-fluid .btn {
      color: #000; }
      .order_now .container-fluid .btn:hover {
        color: #fff; }
  @media only screen and (max-width: 767px) {
    .order_now .headingSecondary {
      font-size: 20px; } }

.advantage {
  width: 100vw;
  min-height: 400px;
  background: #f5f8fa;
  text-align: center; }
  .advantage--ty_half {
    background: #fff;
    height: 300px;
    transform: translateY(-50%);
    border-radius: 20px;
    padding: 3rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    -webkit-box-shadow: 0px 3px 12px -1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 3px 12px -1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 12px -1px rgba(0, 0, 0, 0.2); }
    .advantage--ty_half .row [class^="col-"]:nth-child(-n + 3) {
      border-bottom: 1px solid #f1f3f9;
      padding-bottom: 50px;
      height: 150px; }
      .advantage--ty_half .row [class^="col-"]:nth-child(-n + 3) .icon {
        margin: 50px 10px; }
    .advantage--ty_half .row [class^="col-"]:nth-child(-n + 2) {
      border-right: 1px solid #f1f3f9; }
    .advantage--ty_half .row [class^="col-"]:nth-child(n + 4) {
      padding-top: 50px;
      height: 150px; }
      .advantage--ty_half .row [class^="col-"]:nth-child(n + 4) .icon {
        margin: 10px 10px; }
    .advantage--ty_half .row [class^="col-"]:nth-child(n + 4) {
      border-right: 1px solid #f1f3f9; }
    .advantage--ty_half .row [class^="col-"]:last-child {
      border-right: none; }
    .advantage--ty_half p {
      display: inline; }
    .advantage--ty_half .icon {
      font-size: 4rem;
      display: inline-block;
      background-image: -webkit-linear-gradient(225deg, #00cf8a, #0084d6);
      background-image: linear-gradient(225deg, #00cf8a, #0084d6);
      -webkit-background-clip: text;
      color: transparent; }
  @media only screen and (max-width: 767px) {
    .advantage--ty_half {
      transform: translateY(-50%); }
    .advantage p {
      display: block; }
    .advantage .row [class^="col-"] {
      margin-bottom: 15px;
      font-size: 15px; }
    .advantage .row [class^="col-"]:nth-child(-n + 3) {
      border-bottom: 0;
      padding-bottom: 0px;
      height: auto; }
      .advantage .row [class^="col-"]:nth-child(-n + 3) .icon {
        margin: 0px 0px; }
    .advantage .row [class^="col-"]:nth-child(-n + 2) {
      border-right: 0; }
    .advantage .row [class^="col-"]:nth-child(n + 4) {
      padding-top: 0px;
      height: auto; }
      .advantage .row [class^="col-"]:nth-child(n + 4) .icon {
        margin: 0px 0px; }
    .advantage .row [class^="col-"]:nth-child(n + 4) {
      border-right: 0; }
    .advantage .row [class^="col-"]:nth-child(odd) {
      border-right: 1px solid #f1f3f9;
      border-bottom: 1px solid #f1f3f9;
      padding-top: 15px; }
    .advantage .row [class^="col-"]:nth-child(even) {
      border-bottom: 1px solid #f1f3f9;
      padding-top: 15px; }
    .advantage .icon {
      font-size: 30px; } }

.good_paper {
  background: #f5f8fa;
  padding: 10rem 0; }
  .good_paper .container {
    text-align: center; }
    .good_paper .container .card {
      width: 100%; }
      .good_paper .container .card-header {
        background: #126d91; }
      .good_paper .container .card p {
        font-size: 16px;
        color: #126d91; }
      .good_paper .container .card-link {
        text-decoration: none;
        color: #f5f8fa;
        font-family: "Montserrat", serif;
        font-weight: 700;
        font-size: 25px; }
      @media only screen and (max-width: 767px) {
        .good_paper .container .card-link {
          font-size: 15px; } }

.login {
  background: #126d91;
  height: 100vh;
  font-family: sans-serif; }
  .login__content .box {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 30%;
    background: #fff;
    padding: 40px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px; }
  .login__content .box h2 {
    margin: 0 0 20px;
    padding: 0;
    color: #222e4f;
    text-transform: uppercase; }
  .login__content .box input {
    padding: 10px 0;
    margin-bottom: 20px; }
  .login__content .box textarea {
    height: 80px;
    padding: 10px 0;
    margin-bottom: 20px; }
  .login__content .box input,
  .login__content .box textarea {
    width: 100%;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border: none;
    border-bottom: 2px solid #999; }
  .login__content .box input[type="submit"] {
    cursor: pointer;
    background: #126d91;
    color: #ffff;
    text-transform: uppercase;
    border-radius: 10px; }
  .login__content .box form div {
    position: relative; }
  .login__content .box form div label {
    position: absolute;
    top: 10px;
    pointer-events: none;
    left: 0;
    transition: 0.5s;
    color: #999; }
  .login__content .box input:focus ~ label,
  .login__content .box textarea:focus ~ label,
  .login__content .box input:valid ~ label,
  .login__content .box textarea:valid ~ label {
    top: -12px;
    left: 0;
    color: #126d91;
    font-size: 12px;
    font-weight: bold; }
  .login__content .box input:focus,
  .login__content .box textarea:focus,
  .login__content .box input:valid,
  .login__content .box textarea:valid {
    border-bottom: 2px solid #126d91; }
  .login__content .home,
  .login__content .have_account {
    color: #1b083d;
    align-self: center;
    font-size: 9pt;
    padding: 11px;
    cursor: pointer; }
  .login__content .home {
    position: absolute;
    top: 0px;
    right: 0px;
    color: dodgerblue; }
  @media (max-width: 700px) {
    .login__content .box {
      width: 90%; } }

.formsubmit {
  display: inline-block;
  margin: 0 auto;
  background: transparent;
  border: 2px solid #00dd6e;
  padding: 1rem 3rem;
  border-radius: 30px;
  width: 200px;
  color: #222e4f;
  transition: all .3s ease-out; }
  .formsubmit:hover {
    background: -webkit-linear-gradient(225deg, #00cf8a, #0084d6);
    background: linear-gradient(225deg, #00cf8a, #0084d6);
    color: #fff; }

@media only screen and (max-width: 767px) {
  body {
    overflow: auto; } }

.dashboard_nav {
  min-width: 767px;
  background-image: -webkit-linear-gradient(225deg, #00cf8a, #0084d6);
  background-image: linear-gradient(225deg, #00cf8a, #0084d6); }
  .dashboard_nav .navbar {
    padding: 0 100px; }
    .dashboard_nav .navbar-brand {
      font-weight: 700;
      font-family: "Black Ops One", cursive;
      color: #fff;
      font-size: 25px; }
    .dashboard_nav .navbar .nav-link {
      color: #fff; }
    .dashboard_nav .navbar .dropdown-menu {
      background: #00cf8a; }
      .dashboard_nav .navbar .dropdown-menu .dropdown-item {
        font-size: 16px;
        color: #fff; }
        .dashboard_nav .navbar .dropdown-menu .dropdown-item .icon-r {
          margin-right: 10px;
          font-weight: bolder; }
        .dashboard_nav .navbar .dropdown-menu .dropdown-item:hover {
          background: #0084d6; }
    @media only screen and (max-width: 767px) {
      .dashboard_nav .navbar .dropdown-menu {
        background: #0084d6;
        position: absolute; }
        .dashboard_nav .navbar .dropdown-menu .dropdown-item {
          font-size: 16px; }
          .dashboard_nav .navbar .dropdown-menu .dropdown-item:hover {
            background: #00cf8a; } }
  .dashboard_nav_left {
    background: #008643; }
    .dashboard_nav_left__content {
      overflow-x: auto;
      overflow-y: hidden;
      display: block;
      margin: 0 auto;
      min-height: 50px;
      background: transparent;
      padding-bottom: 0; }
      .dashboard_nav_left__content ul {
        min-width: 900px;
        margin-bottom: -1px;
        padding-bottom: 0;
        padding-top: 30px;
        text-align: center;
        text-decoration: none; }
        .dashboard_nav_left__content ul li {
          font-weight: lighter;
          position: relative;
          top: -7px;
          display: inline !important;
          border: none;
          background: transparent;
          color: #fff;
          font-size: 14px; }
      .dashboard_nav_left__content .active {
        border-bottom: 3px solid white; }

#revision .modal-dialog {
  font-size: 4rem;
  -webkit-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
  margin: 0 auto;
  z-index: 1000; }

#satisfied .modal-dialog {
  font-size: 4rem;
  -webkit-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
  margin: 0 auto;
  z-index: 1000;
  height: 310px; }

.modal-content, .modal-header, .modal-title, .modal-body, .modal-footer,
.modal button {
  font-size: 2rem; }

.messages {
  height: 41rem;
  position: relative; }
  .messages__view {
    height: 28rem;
    margin-bottom: 5rem;
    overflow: auto;
    background: #fff;
    font-size: 16px; }
    .messages__view .received,
    .messages__view .sent {
      width: 90%;
      clear: both;
      margin-bottom: 7px;
      text-align: left;
      padding: 17px;
      font-size: 1.4rem; }
    .messages__view .date {
      color: #126d91;
      font-size: 1.2rem;
      margin-top: 7px;
      float: right;
      clear: both; }
    .messages__view .received {
      background: #e1f1d6;
      float: right; }
    .messages__view .sent {
      background: #f4f4f4;
      float: left; }
    .messages__view .mymb {
      min-height: 30rem; }
  .messages__form {
    height: 14rem;
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 11rem; }
    .messages__form textarea {
      width: 100%;
      height: 100%;
      color: #000;
      padding: 3px 7px;
      padding-bottom: 15px;
      border: none;
      background: #f5f8fa;
      font-size: 15px;
      outline: 0; }
    .messages__form textarea:focus {
      outline: none;
      border: none; }
  .messages .send {
    position: absolute;
    bottom: -15px;
    right: 0.2px; }
    .messages .send_btn {
      background: #126d91;
      color: #fff;
      height: 25px;
      font-size: 13px; }

.files {
  font-size: 1.3rem;
  height: 41rem;
  overflow: auto;
  text-align: left; }

.showFiles {
  height: 20rem;
  overflow: auto; }

/* custom select */
.customSelect select {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  -webkit-appearance: none;
  padding: 0 50px 0 20px;
  cursor: pointer;
  font: 300 15px/1.5 "Roboto", sans-serif;
  text-indent: 5px; }

.customSelect select::-ms-expand {
  display: none; }

.customSelect select:focus {
  outline: none; }

.customSelect .select {
  position: relative;
  background: #fff;
  border: 1px solid #00dd6e;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  height: 35px;
  cursor: pointer; }

.customSelect option {
  font: 300 18px/1.5 "Roboto", sans-serif; }

.customSelect .select:before {
  content: "";
  background-image: -webkit-linear-gradient(225deg, #00cf8a, #0084d6);
  background-image: linear-gradient(225deg, #00cf8a, #0084d6);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 40px;
  pointer-events: none; }

.customSelect .select:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 7px 0;
  border-color: #fff transparent transparent transparent;
  position: absolute;
  top: 50%;
  right: 11px;
  transform: translateY(-50%); }

.btn {
  position: relative;
  display: block;
  width: 250px;
  color: #fff;
  font-size: 18px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-decoration: none;
  margin: 30px auto;
  border: 2px solid #00dd6e;
  padding: 14px 50px;
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s all ease; }

.btn:hover {
  color: #fff; }

.btn::before {
  background-image: -webkit-linear-gradient(225deg, #00cf8a, #0084d6);
  background-image: linear-gradient(225deg, #00cf8a, #0084d6);
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: all 0.6s ease; }

.btn1::before {
  width: 0;
  height: 101%; }

.btn1:hover::before {
  width: 100%; }

.btn2::before {
  width: 100%;
  height: 0; }

.btn2:hover::before {
  height: 101%; }

.btn3::before {
  width: 100%;
  height: 0;
  transform: translate(-50%, -50%) rotate(45deg); }

.btn3:hover::before {
  height: 387%; }

.btn4::before {
  width: 100%;
  height: 0;
  transform: translate(-50%, -50%) rotate(-45deg); }

.btn4:hover::before {
  height: 387%; }

input[type="number"] {
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  font-size: 15px;
  width: 30% !important;
  height: 30px !important; }

input[type="number"]:hover,
input[type="number"]:focus {
  color: #fff;
  background: #00dd6e; }

button {
  background-image: -webkit-linear-gradient(225deg, #00cf8a, #0084d6);
  background-image: linear-gradient(225deg, #00cf8a, #0084d6);
  color: #fff;
  border: none;
  outline: none;
  padding: 0 5px;
  border-radius: 5px;
  font-size: 25px;
  height: 40px !important;
  width: 40px !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); }

button:hover {
  background: #222e4f; }

.order-now {
  margin-top: 68px;
  min-height: 90vh;
  position: relative; }
  .order-now #navbar {
    margin-top: -70px;
    font-size: 13px; }
    .order-now #navbar .logo {
      font-size: 30px; }
  .order-now__content {
    width: 100%;
    background: #f5f8fa; }
    .order-now__content .container {
      padding-top: 5rem;
      font-size: 100% !important;
      min-height: 140vh;
      background: #fff;
      font-family: "Roboto", sans-serif; }
      .order-now__content .container input,
      .order-now__content .container textarea {
        height: 40px;
        font-size: 18px;
        outline: none;
        box-shadow: none !important;
        border: 2px solid #ccc !important;
        color: gray; }
      .order-now__content .container label {
        color: #a6a6a6; }
      .order-now__content .container .submit {
        width: 60% !important;
        display: block;
        margin: 10px auto;
        background: #222e4f;
        color: white;
        transition: background 0.3s ease-out;
        height: 40px;
        border-radius: 10px;
        font-weight: bolder;
        cursor: pointer; }
        .order-now__content .container .submit:hover {
          background: #126d91; }
      .order-now__content .container .card-header {
        background: #222e4f;
        color: #fff;
        font-weight: bolder; }
      .order-now__content .container .customer-login,
      .order-now__content .container .new-client {
        width: 100%;
        border: double #f5f8fa; }
        .order-now__content .container .customer-login input,
        .order-now__content .container .customer-login textarea,
        .order-now__content .container .new-client input,
        .order-now__content .container .new-client textarea {
          padding-left: 5px; }
        .order-now__content .container .customer-login i,
        .order-now__content .container .new-client i {
          font-size: 18px; }
        .order-now__content .container .customer-login a,
        .order-now__content .container .new-client a {
          color: red;
          position: relative;
          top: 15px;
          font-size: 15px; }
      .order-now__content .container .order-details {
        margin-bottom: 5rem;
        margin-top: 5rem; }
        .order-now__content .container .order-details select,
        .order-now__content .container .order-details option {
          color: gray;
          font-size: 18px; }
        .order-now__content .container .order-details option {
          font-size: 13px; }
        .order-now__content .container .order-details .select {
          border: 2px solid #ccc !important;
          height: 40px; }
          .order-now__content .container .order-details .select:before {
            content: "";
            background: #ccc; }
        .order-now__content .container .order-details input[type="number"] {
          border-radius: 0;
          height: 30px !important;
          width: 100% !important;
          display: block; }
        .order-now__content .container .order-details input[type="number"]:focus,
        .order-now__content .container .order-details input[type="number"]:hover {
          background: transparent; }
        .order-now__content .container .order-details button {
          background: #ccc;
          border-radius: 0;
          height: 44px !important;
          box-shadow: none; }
        .order-now__content .container .order-details .forms2__textarea {
          display: block; }
        .order-now__content .container .order-details .id_card {
          display: none; }
        .order-now__content .container .order-details .input-label {
          background: #222e4f;
          color: #fff;
          padding: 9px;
          font-size: 14px;
          width: 100%;
          transition: background 0.3s ease-out; }
          .order-now__content .container .order-details .input-label:hover {
            background: #126d91;
            cursor: pointer; }
        .order-now__content .container .order-details .fa {
          margin-right: 10px; }
      @media only screen and (max-width: 767px) {
        .order-now__content .container .order-details label {
          display: block; } }

.not_active {
  height: 100vh;
  width: 100%;
  background: #eeeeee; }
  .not_active__content {
    position: absolute;
    width: 50%;
    min-height: 50vh;
    padding: 30px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f5f8fa; }
    .not_active__content .headingSeconadry {
      text-align: center;
      margin-bottom: 2.5rem; }
    .not_active__content .lead {
      font-size: 90%;
      color: #126d91;
      text-align: center; }
    .not_active__content .note {
      text-align: center; }
    .not_active__content .form-div {
      text-align: center;
      padding-top: 5rem; }
      .not_active__content .form-div .id_card {
        display: none; }
      .not_active__content .form-div .btn {
        width: 70%;
        background: #009688;
        border-color: #009688; }
        .not_active__content .form-div .btn:hover {
          background: #26a69a;
          cursor: pointer; }
      .not_active__content .form-div .input-label {
        background: #009688;
        color: #fff;
        padding: 30px;
        width: 70%; }
        .not_active__content .form-div .input-label:hover {
          background: #26a69a;
          cursor: pointer; }
      .not_active__content .form-div .fa {
        margin-right: 10px; }
  @media (max-width: 700px) {
    .not_active__content {
      width: 100%; }
      .not_active__content .lead {
        font-size: 70%; }
      .not_active__content .input-label {
        font-size: 14px;
        width: 100%; }
      .not_active__content .btn {
        width: 100%; } }

.page-container {
  position: relative; }

.message_panel {
  border: 2px solid green;
  -webkit-box-shadow: 0px 0px 11px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 11px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 11px 5px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center; }
  .message_panel_left {
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
    background: #d8d8d8;
    height: 70vh;
    width: 300px;
    padding-left: 5px;
    padding-right: 5px; }
    .message_panel_left .highlight {
      height: 65vh;
      overflow-y: auto; }
    .message_panel_left .older {
      text-align: center;
      background: #d8d8d8;
      border-bottom-left-radius: 10px; }
      .message_panel_left .older .list-group-item {
        height: 5vh;
        background: #126d91;
        text-decoration: none;
        color: white;
        width: 100%;
        border-bottom-left-radius: 7px;
        font-family: "Roboto", sans-serif;
        font-weight: bolder;
        padding-top: 10px; }
        .message_panel_left .older .list-group-item:hover {
          text-decoration: none;
          color: white; }
    .message_panel_left:first-child {
      margin-top: 2px; }
    .message_panel_left .chat_btn {
      -webkit-box-shadow: 0px 1px 13px -3px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 1px 13px -3px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 1px 13px -3px rgba(0, 0, 0, 0.75);
      color: #126d91;
      font-size: 16px;
      display: block;
      width: 100% !important;
      text-align: left;
      background: #fff;
      margin-bottom: 7px;
      transition: all 0.3s ease-out; }
      .message_panel_left .chat_btn:active {
        outline: none; }
      .message_panel_left .chat_btn:hover {
        background: #e6e6e6; }
    .message_panel_left .active {
      background: #ededed; }
      .message_panel_left .active:hover {
        background: #e6e6e6; }
  .message_panel_right {
    position: relative;
    background: url("../assets/noise_d.png");
    width: 600px;
    height: 70vh; }
    .message_panel_right .showmessage {
      height: 55vh;
      overflow-y: auto;
      padding: 15px; }
    .message_panel_right .chat {
      background: #fff;
      width: 100%;
      height: 15vh;
      position: absolute;
      left: 0;
      bottom: 0; }
      .message_panel_right .chat form {
        position: relative; }
        .message_panel_right .chat form textarea {
          width: 100%;
          height: 122px;
          padding-bottom: 30px; }
        .message_panel_right .chat form .send_btn {
          position: absolute;
          bottom: 3px;
          right: 0px;
          height: 35px;
          padding: 2px 15px; }
  .message_panel .sent,
  .message_panel .received {
    width: 90%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px; }
  .message_panel .sent {
    float: right;
    clear: both;
    background: #f6f6f6;
    border: 1px solid #bfbfbf; }
  .message_panel .received {
    float: left;
    clear: both;
    background: #e6fdea;
    border: 1px solid #a1e6a7; }
  .message_panel .datetym {
    display: block;
    color: #18376e;
    float: right;
    font-size: 10px;
    font-style: italic;
    font-weight: lighter; }
  @media only screen and (max-width: 916px) {
    .message_panel_right {
      width: 500px; }
    .message_panel_left {
      width: 250px; } }
