@import url("https://fonts.googleapis.com/css?family=Black+Ops+One|Cabin:500,700|Montserrat:400,700i|Roboto");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

::-webkit-scrollbar {
  width: .8rem; }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #fff;
  box-shadow: inset 0 0 0.6rem rgba(0, 0, 0, 0.3); }

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #fff;
  box-shadow: inset 0 0 0.6rem rgba(0, 0, 0, 0.3); }

body {
  padding: 0;
  width: 0;
  font-family: "Cabin", sans-serif;
  font-size: 1.8rem;
  line-height: 1.7;
  font-weight: 400;
  box-sizing: border-box;
  width: 100vw;
  background: #222e4f;
  overflow-x: hidden; }

.headingPrimary {
  display: block;
  margin: 0 auto; }

.headingSecondary {
  position: relative;
  font-size: 3rem;
  margin: 5rem auto;
  display: inline-block;
  color: #222e4f; }
  .headingSecondary:after {
    content: "";
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 2.5rem;
    margin: 2.5rem auto;
    height: 2px;
    width: 25rem;
    border-radius: 2px;
    display: inline-block;
    position: absolute;
    background-image: -webkit-linear-gradient(225deg, #00cf8a, #0084d6);
    background-image: linear-gradient(225deg, #00cf8a, #0084d6);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.headingTertiary {
  font-family: "Montserrat", sans-serif;
  font-weight: 800; }

a,
a:hover {
  text-decoration: none; }

.navbar-container {
  width: 100%;
  position: fixed;
  z-index: 99; }
  .navbar-container .navbar {
    background: transparent;
    color: #ebebd3;
    padding: 1em 0;
    position: relative;
    z-index: 100;
    transition: all 0.5s ease-in; }
    .navbar-container .navbar .container {
      width: 100%;
      max-width: 1000px;
      margin: 0 auto; }
    .navbar-container .navbar::after {
      content: "";
      clear: both;
      display: block; }
    .navbar-container .navbar .logo {
      float: left;
      margin: 0;
      font-size: 35px;
      color: #00dd6e;
      font-weight: 700;
      font-family: "Black Ops One", cursive; }
      .navbar-container .navbar .logo span {
        font-weight: 400; }
    .navbar-container .navbar .site-nav {
      position: absolute;
      top: 100%;
      right: 0%;
      background: #464655;
      clip-path: circle(0px at top right);
      transition: clip-path ease-in-out 700ms;
      /*   display: none; */ }
      .navbar-container .navbar .site-nav--open {
        clip-path: circle(250% at top right);
        /*   display: block; */ }
      .navbar-container .navbar .site-nav ul {
        margin: 0;
        padding: 0;
        list-style: none; }
      .navbar-container .navbar .site-nav li {
        border-bottom: 1px solid #575766; }
        .navbar-container .navbar .site-nav li:last-child {
          border-bottom: none;
          margin-bottom: 0; }
      .navbar-container .navbar .site-nav a {
        color: #ebebd3;
        display: block;
        padding: 1.2em 2.2em 1.2em 0.8em;
        text-transform: uppercase;
        text-decoration: none; }
        .navbar-container .navbar .site-nav a:hover, .navbar-container .navbar .site-nav a:focus {
          background: #222e4f;
          color: #fff; }
      .navbar-container .navbar .site-nav--icon {
        display: inline-block;
        font-size: 1em;
        margin-right: 1em;
        width: 1.1em;
        text-align: right;
        color: rgba(255, 255, 255, 0.4); }
    .navbar-container .navbar .menu-toggle {
      padding: 1em;
      position: absolute;
      top: 0.5em;
      right: 0.5em;
      cursor: pointer; }
    .navbar-container .navbar .hamburger,
    .navbar-container .navbar .hamburger::before,
    .navbar-container .navbar .hamburger::after {
      content: "";
      display: block;
      background: #ebebd3;
      height: 3px;
      width: 1.75em;
      border-radius: 3px;
      transition: all ease-in-out 500ms; }
    .navbar-container .navbar .hamburger::before {
      transform: translateY(-6px); }
    .navbar-container .navbar .hamburger::after {
      transform: translateY(3px); }
    .navbar-container .navbar .open .hamburger {
      transform: rotate(45deg); }
    .navbar-container .navbar .open .hamburger::before {
      opacity: 0; }
    .navbar-container .navbar .open .hamburger::after {
      transform: translateY(-3px) rotate(-90deg); }
    @media (min-width: 700px) {
      .navbar-container .navbar .menu-toggle {
        display: none; }
      .navbar-container .navbar .site-nav {
        height: auto;
        position: relative;
        background: transparent;
        float: right;
        clip-path: initial; }
        .navbar-container .navbar .site-nav li {
          display: inline-block;
          border: none; }
          .navbar-container .navbar .site-nav li .sign_up_btn {
            padding: 7px 20px;
            border: 2px solid #00dd6e;
            border-radius: 10px; }
            .navbar-container .navbar .site-nav li .sign_up_btn:hover {
              background-image: -webkit-linear-gradient(225deg, #00cf8a, #0084d6);
              background-image: linear-gradient(225deg, #00cf8a, #0084d6); }
        .navbar-container .navbar .site-nav a {
          padding: 0;
          margin-left: 2.5em; }
          .navbar-container .navbar .site-nav a:hover, .navbar-container .navbar .site-nav a:focus {
            background: transparent;
            color: #fff;
            cursor: pointer; }
        .navbar-container .navbar .site-nav--icon {
          display: none; } }
  .navbar-container .hover-border {
    font-family: "Segeo UI" Tahoma;
    text-decoration: none;
    position: relative;
    color: black; }
    .navbar-container .hover-border::after {
      content: "";
      width: 0%;
      height: 4px;
      position: absolute;
      bottom: 0;
      left: 50%;
      border-radius: 10px;
      transition: all 0.5s ease-in;
      background: #00dd6e; }
    .navbar-container .hover-border:hover::after {
      left: 0%;
      width: 100%; }

.header {
  background: url("../assets/calligraphy-decorative-fountain-pen-39065.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
  height: 100%;
  width: 100%;
  text-align: center; }
  .header__content {
    background: #222e4f;
    opacity: 0.9;
    height: 100vh;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center; }
    .header__content--text {
      width: 100%; }
      .header__content--text .headingPrimary {
        font-size: 40px;
        margin-bottom: 1.5rem; }
    .header__content--form {
      width: 100%;
      background: #fff;
      border-radius: 1.5rem;
      padding: 1.5rem;
      position: relative;
      -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75); }
      .header__content--form .form {
        width: 100%;
        box-shadow: 0 2px 4px 10px #fff; }
        .header__content--form .form__header {
          background: #222e4f;
          font-size: 18px;
          padding: 1rem;
          font-family: inherit;
          position: absolute;
          top: 1rem;
          left: 0;
          width: 100%;
          color: #f5f8fa; }
        .header__content--form .form__content {
          position: relative;
          padding-top: 7rem;
          padding-bottom: 3rem;
          font-size: 15px; }
          .header__content--form .form__content .col-form-label {
            text-align: left;
            color: #222e4f; }
          .header__content--form .form__content .form-control {
            font-size: 100%;
            height: 100%; }
    @media only screen and (max-width: 767px) {
      .header__content--text {
        margin-top: -150px; }
      .header__content--form {
        display: none; }
      .header__content .headingPrimary {
        font-size: 30px;
        margin-bottom: 1.5rem; }
      .header__content .headingTertiary {
        font-size: 15px; }
      .header__content .btn1 {
        font-size: 15px;
        border-radius: 15px;
        padding: 7px 12px;
        margin: 1.5rem auto; }
      .header__content .formsubmit {
        padding: 0.5rem 1.5rem;
        margin-top: -20px; } }

.custom_paper {
  padding-bottom: 5rem;
  margin-top: -12rem;
  background: #222e4f;
  text-align: center; }
  .custom_paper .headingSecondary {
    color: #fff; }
  .custom_paper .mycard {
    color: #fff;
    border-radius: 12px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.41);
    -moz-box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.41);
    box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.41);
    position: relative;
    transition: all 0.5s ease-in-out;
    padding: 1.5rem;
    text-align: center;
    margin-bottom: 2.5rem; }
    .custom_paper .mycard:hover {
      transform: scale(1.04);
      -webkit-box-shadow: 0px 2px 8px 0px rgba(255, 255, 255, 0.81);
      -moz-box-shadow: 0px 2px 8px 0px rgba(255, 255, 255, 0.81);
      box-shadow: 0px 2px 8px 0px rgba(225, 255, 255, 0.81); }
    .custom_paper .mycard__icon {
      font-size: 5rem;
      margin-bottom: 2.5rem;
      margin-top: 1.5rem; }
      .custom_paper .mycard__icon i {
        background-image: -webkit-linear-gradient(225deg, #00cf8a, #0084d6);
        background-image: linear-gradient(225deg, #00cf8a, #0084d6);
        display: inline-block;
        -webkit-background-clip: text;
        color: transparent; }
    .custom_paper .mycard__header {
      font-size: 20px;
      margin: 1.5rem auto;
      margin-bottom: 0.4rem;
      font-weight: bold; }
    .custom_paper .mycard__body {
      font-weight: 400;
      opacity: 0.85;
      font-family: "Montserrat", sans-serif; }
  @media only screen and (max-width: 767px) {
    .custom_paper {
      margin-top: -2.5rem; }
      .custom_paper .headingSecondary {
        font-size: 20px; } }

.testimonials {
  color: #fff;
  min-height: 300px;
  text-align: center;
  padding-bottom: 12rem;
  background: #126d91; }
  .testimonials .container {
    padding-top: 7rem; }
  .testimonials .headingSecondary {
    color: #fff;
    margin-top: -1.5rem;
    margin-bottom: 5rem; }
  .testimonials__content .testmonial {
    margin: 10px 15px;
    padding: 0 0 20px 20px;
    position: relative; }
  .testimonials__content .pic {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    border: 4px solid #f5f8fa;
    border-radius: 50px;
    padding: 5px; }
  .testimonials__content .pic img {
    margin: 0 auto;
    text-align: center;
    border-radius: 50px;
    width: 80px;
    height: 80px; }
  .testimonials__content .testmonial-review {
    border: 5px solid #eeeeee;
    border-radius: 10px;
    font-size: 17.5px;
    margin: 0 0 20px;
    padding: 10px 20px;
    min-height: 150px;
    position: relative; }
    .testimonials__content .testmonial-review p {
      font-style: italic;
      font-size: normal;
      line-height: 24px;
      padding: 9px 0 0 49px;
      color: #f1f3f9;
      font-size: 15px;
      position: relative; }
      .testimonials__content .testmonial-review p:before {
        content: "\f10d";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        position: absolute;
        left: 0;
        top: 10px;
        font-size: 30px;
        background-image: -webkit-linear-gradient(225deg, #00cf8a, #0084d6);
        background-image: linear-gradient(225deg, #00cf8a, #0084d6);
        -webkit-background-clip: text;
        color: transparent; }
  .testimonials__content .testmonial-title {
    color: #eeeeee;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    position: absolute;
    bottom: 0px;
    right: 13px; }
    .testimonials__content .testmonial-title a {
      color: #f5f8fa; }
  .testimonials__content .owl-theme .owl-controls {
    margin-top: 30px;
    /* font-size: 15px;
            color: #7c7c7c; */ }
    .testimonials__content .owl-theme .owl-controls a {
      color: #dc005a;
      font-size: 15px;
      font-family: tahoma;
      font-weight: bold; }
    .testimonials__content .owl-theme .owl-controls .owl-page span {
      background: #fff;
      display: block;
      height: 8px;
      margin: 5px 2.5px;
      width: 30px;
      border-radius: 0; }
  .testimonials__content .owl-theme .owl-controls .owl-page.active span,
  .testimonials__content .owl-theme .owl-controls.clickable .owl-page:hover span {
    background-image: -webkit-linear-gradient(225deg, #00cf8a, #0084d6);
    background-image: linear-gradient(225deg, #00cf8a, #0084d6); }
  @media only screen and (max-width: 767px) {
    .testimonials {
      margin-top: -30px; }
      .testimonials .headingSecondary {
        font-size: 20px;
        font-weight: bolder; } }

.footer {
  position: relative;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.75; }
  .footer .container {
    margin-top: 0.1px;
    text-align: center; }
    .footer .container ul {
      text-align: left; }
      .footer .container ul li {
        list-style: none; }
        .footer .container ul li a {
          text-decoration: none;
          color: #f5f8fa;
          font-size: 16px; }
    .footer .container p {
      color: #f5f8fa;
      font-size: 17px; }
    .footer .container input[type="email"] {
      border: 0;
      outline: none;
      padding-left: 7px;
      border-radius: 7px;
      color: #222e4f;
      display: inline-block;
      margin-bottom: 10px;
      width: 100%; }
    .footer .container form {
      width: 90%; }
    .footer .container input[type="submit"] {
      display: inline-block;
      border: 0;
      background-image: -webkit-linear-gradient(225deg, #00cf8a, #0084d6);
      background-image: linear-gradient(225deg, #00cf8a, #0084d6);
      width: 100%;
      padding: 4px 10px;
      color: #f5f8fa; }
    .footer .container .social-icons {
      margin-bottom: 7px; }
      .footer .container .social-icons a {
        color: #fff; }
        .footer .container .social-icons a:not(:last-child) {
          padding-right: 10px; }
    .footer .container .copyright {
      font-size: 16px;
      color: #fff;
      margin-top: 15px; }
    @media only screen and (max-width: 767px) {
      .footer .container .social-icons {
        margin-bottom: 7px; }
        .footer .container .social-icons a {
          color: #fff; }
          .footer .container .social-icons a:not(:last-child) {
            padding-right: 5px; }
      .footer .container ul {
        text-align: center; } }

.order_now {
  background: url("../assets/class-composition-creativity-207756.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 360px;
  text-align: center;
  padding-top: 20px; }
  .order_now__heading {
    color: #000; }
  .order_now .container-fluid {
    background: #f5f8fa;
    opacity: 0.8;
    width: 100%;
    min-height: 300px; }
    .order_now .container-fluid .headingSecondary {
      color: #000; }
    .order_now .container-fluid p {
      font-size: 2rem;
      color: #000; }
    .order_now .container-fluid .btn {
      color: #000; }
      .order_now .container-fluid .btn:hover {
        color: #fff; }
  @media only screen and (max-width: 767px) {
    .order_now .headingSecondary {
      font-size: 20px; } }

.advantage {
  width: 100vw;
  min-height: 400px;
  background: #f5f8fa;
  text-align: center; }
  .advantage--ty_half {
    background: #fff;
    height: 300px;
    transform: translateY(-50%);
    border-radius: 20px;
    padding: 3rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    -webkit-box-shadow: 0px 3px 12px -1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 3px 12px -1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 12px -1px rgba(0, 0, 0, 0.2); }
    .advantage--ty_half .row [class^="col-"]:nth-child(-n + 3) {
      border-bottom: 1px solid #f1f3f9;
      padding-bottom: 50px;
      height: 150px; }
      .advantage--ty_half .row [class^="col-"]:nth-child(-n + 3) .icon {
        margin: 50px 10px; }
    .advantage--ty_half .row [class^="col-"]:nth-child(-n + 2) {
      border-right: 1px solid #f1f3f9; }
    .advantage--ty_half .row [class^="col-"]:nth-child(n + 4) {
      padding-top: 50px;
      height: 150px; }
      .advantage--ty_half .row [class^="col-"]:nth-child(n + 4) .icon {
        margin: 10px 10px; }
    .advantage--ty_half .row [class^="col-"]:nth-child(n + 4) {
      border-right: 1px solid #f1f3f9; }
    .advantage--ty_half .row [class^="col-"]:last-child {
      border-right: none; }
    .advantage--ty_half p {
      display: inline; }
    .advantage--ty_half .icon {
      font-size: 4rem;
      display: inline-block;
      background-image: -webkit-linear-gradient(225deg, #00cf8a, #0084d6);
      background-image: linear-gradient(225deg, #00cf8a, #0084d6);
      -webkit-background-clip: text;
      color: transparent; }
  @media only screen and (max-width: 767px) {
    .advantage--ty_half {
      transform: translateY(-50%); }
    .advantage p {
      display: block; }
    .advantage .row [class^="col-"] {
      margin-bottom: 15px;
      font-size: 15px; }
    .advantage .row [class^="col-"]:nth-child(-n + 3) {
      border-bottom: 0;
      padding-bottom: 0px;
      height: auto; }
      .advantage .row [class^="col-"]:nth-child(-n + 3) .icon {
        margin: 0px 0px; }
    .advantage .row [class^="col-"]:nth-child(-n + 2) {
      border-right: 0; }
    .advantage .row [class^="col-"]:nth-child(n + 4) {
      padding-top: 0px;
      height: auto; }
      .advantage .row [class^="col-"]:nth-child(n + 4) .icon {
        margin: 0px 0px; }
    .advantage .row [class^="col-"]:nth-child(n + 4) {
      border-right: 0; }
    .advantage .row [class^="col-"]:nth-child(odd) {
      border-right: 1px solid #f1f3f9;
      border-bottom: 1px solid #f1f3f9;
      padding-top: 15px; }
    .advantage .row [class^="col-"]:nth-child(even) {
      border-bottom: 1px solid #f1f3f9;
      padding-top: 15px; }
    .advantage .icon {
      font-size: 30px; } }

.good_paper {
  background: #f5f8fa;
  padding: 10rem 0; }
  .good_paper .container {
    text-align: center; }
    .good_paper .container .card {
      width: 100%; }
      .good_paper .container .card-header {
        background: #126d91; }
      .good_paper .container .card p {
        font-size: 16px;
        color: #126d91; }
      .good_paper .container .card-link {
        text-decoration: none;
        color: #f5f8fa;
        font-family: "Montserrat", serif;
        font-weight: 700;
        font-size: 25px; }
      @media only screen and (max-width: 767px) {
        .good_paper .container .card-link {
          font-size: 15px; } }

.login {
  background: #126d91;
  height: 100vh;
  font-family: sans-serif; }
  .login__content .box {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 30%;
    background: #fff;
    padding: 40px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px; }
  .login__content .box h2 {
    margin: 0 0 20px;
    padding: 0;
    color: #222e4f;
    text-transform: uppercase; }
  .login__content .box input {
    padding: 10px 0;
    margin-bottom: 20px; }
  .login__content .box textarea {
    height: 80px;
    padding: 10px 0;
    margin-bottom: 20px; }
  .login__content .box input,
  .login__content .box textarea {
    width: 100%;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border: none;
    border-bottom: 2px solid #999; }
  .login__content .box input[type="submit"] {
    cursor: pointer;
    background: #126d91;
    color: #ffff;
    text-transform: uppercase;
    border-radius: 10px; }
  .login__content .box form div {
    position: relative; }
  .login__content .box form div label {
    position: absolute;
    top: 10px;
    pointer-events: none;
    left: 0;
    transition: 0.5s;
    color: #999; }
  .login__content .box input:focus ~ label,
  .login__content .box textarea:focus ~ label,
  .login__content .box input:valid ~ label,
  .login__content .box textarea:valid ~ label {
    top: -12px;
    left: 0;
    color: #126d91;
    font-size: 12px;
    font-weight: bold; }
  .login__content .box input:focus,
  .login__content .box textarea:focus,
  .login__content .box input:valid,
  .login__content .box textarea:valid {
    border-bottom: 2px solid #126d91; }
  .login__content .home,
  .login__content .have_account {
    color: #1b083d;
    align-self: center;
    font-size: 9pt;
    padding: 11px;
    cursor: pointer; }
  .login__content .home {
    position: absolute;
    top: 0px;
    right: 0px;
    color: dodgerblue; }
  @media (max-width: 700px) {
    .login__content .box {
      width: 90%; } }

.formsubmit {
  display: inline-block;
  margin: 0 auto;
  background: transparent;
  border: 2px solid #00dd6e;
  padding: 1rem 3rem;
  border-radius: 30px;
  width: 200px;
  color: #222e4f;
  transition: all .3s ease-out; }
  .formsubmit:hover {
    background: -webkit-linear-gradient(225deg, #00cf8a, #0084d6);
    background: linear-gradient(225deg, #00cf8a, #0084d6);
    color: #fff; }

#revision .modal-dialog {
  font-size: 4rem;
  -webkit-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
  margin: 0 auto;
  z-index: 1000; }

#satisfied .modal-dialog {
  font-size: 4rem;
  -webkit-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
  margin: 0 auto;
  z-index: 1000;
  height: 310px; }

.modal-content, .modal-header, .modal-title, .modal-body, .modal-footer,
.modal button {
  font-size: 2rem; }

.files {
  font-size: 1.3rem;
  height: 41rem;
  overflow: auto;
  text-align: left; }

.showFiles {
  height: 20rem;
  overflow: auto; }

/* custom select */
.customSelect select {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  -webkit-appearance: none;
  padding: 0 50px 0 20px;
  cursor: pointer;
  font: 300 15px/1.5 "Roboto", sans-serif;
  text-indent: 5px; }

.customSelect select::-ms-expand {
  display: none; }

.customSelect select:focus {
  outline: none; }

.customSelect .select {
  position: relative;
  background: #fff;
  border: 1px solid #00dd6e;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  height: 35px;
  cursor: pointer; }

.customSelect option {
  font: 300 18px/1.5 "Roboto", sans-serif; }

.customSelect .select:before {
  content: "";
  background-image: -webkit-linear-gradient(225deg, #00cf8a, #0084d6);
  background-image: linear-gradient(225deg, #00cf8a, #0084d6);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 40px;
  pointer-events: none; }

.customSelect .select:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 7px 0;
  border-color: #fff transparent transparent transparent;
  position: absolute;
  top: 50%;
  right: 11px;
  transform: translateY(-50%); }

.btn {
  position: relative;
  display: block;
  width: 250px;
  color: #fff;
  font-size: 18px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-decoration: none;
  margin: 30px auto;
  border: 2px solid #00dd6e;
  padding: 14px 50px;
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s all ease; }

.btn:hover {
  color: #fff; }

.btn::before {
  background-image: -webkit-linear-gradient(225deg, #00cf8a, #0084d6);
  background-image: linear-gradient(225deg, #00cf8a, #0084d6);
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: all 0.6s ease; }

.btn1::before {
  width: 0;
  height: 101%; }

.btn1:hover::before {
  width: 100%; }

.btn2::before {
  width: 100%;
  height: 0; }

.btn2:hover::before {
  height: 101%; }

.btn3::before {
  width: 100%;
  height: 0;
  transform: translate(-50%, -50%) rotate(45deg); }

.btn3:hover::before {
  height: 387%; }

.btn4::before {
  width: 100%;
  height: 0;
  transform: translate(-50%, -50%) rotate(-45deg); }

.btn4:hover::before {
  height: 387%; }

input[type="number"] {
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  font-size: 15px;
  width: 30% !important;
  height: 30px !important; }

input[type="number"]:hover,
input[type="number"]:focus {
  color: #fff;
  background: #00dd6e; }

button {
  background-image: -webkit-linear-gradient(225deg, #00cf8a, #0084d6);
  background-image: linear-gradient(225deg, #00cf8a, #0084d6);
  color: #fff;
  border: none;
  outline: none;
  padding: 0 5px;
  border-radius: 5px;
  font-size: 25px;
  height: 40px !important;
  width: 40px !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); }

button:hover {
  background: #222e4f; }

.not_active {
  height: 100vh;
  width: 100%;
  background: #eeeeee; }
  .not_active__content {
    position: absolute;
    width: 50%;
    min-height: 50vh;
    padding: 30px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f5f8fa; }
    .not_active__content .headingSeconadry {
      text-align: center;
      margin-bottom: 2.5rem; }
    .not_active__content .lead {
      font-size: 90%;
      color: #126d91;
      text-align: center; }
    .not_active__content .note {
      text-align: center; }
    .not_active__content .form-div {
      text-align: center;
      padding-top: 5rem; }
      .not_active__content .form-div .id_card {
        display: none; }
      .not_active__content .form-div .btn {
        width: 70%;
        background: #009688;
        border-color: #009688; }
        .not_active__content .form-div .btn:hover {
          background: #26a69a;
          cursor: pointer; }
      .not_active__content .form-div .input-label {
        background: #009688;
        color: #fff;
        padding: 30px;
        width: 70%; }
        .not_active__content .form-div .input-label:hover {
          background: #26a69a;
          cursor: pointer; }
      .not_active__content .form-div .fa {
        margin-right: 10px; }
  @media (max-width: 700px) {
    .not_active__content {
      width: 100%; }
      .not_active__content .lead {
        font-size: 70%; }
      .not_active__content .input-label {
        font-size: 14px;
        width: 100%; }
      .not_active__content .btn {
        width: 100%; } }
