body {
  padding: 0;
  width: 0;
  font-family: "Cabin", sans-serif;
  font-size: $default-font-size;
  line-height: 1.7;
  font-weight: 400; // color: #777; // padding: 1.5rem;
  box-sizing: border-box;
  width: 100vw;
  // min-width: 767px;
  // min-width: 600px;
  background: $primary-color-blue;
  overflow-x: hidden;
}
