body {
    font-family: 'Lato';
    font-size: $default-font-size;
    line-height: 1.7;
    font-weight: 400; // color: #777; // padding: 1.5rem;
    box-sizing: border-box;
    min-width: 767px;
    background: $primary-color-base;
}
