//FONT
$primary-color-white: #fff;
$primary-color-gray: #eeeeee;
$primary-color-black: #000;
$primary-color-green: #00dd6e;
$primary-color-blue: #222e4f;
$primary-color-blue-1: #126d91;
// $primary-color-gray-light: #fafafa;
$primary-color-gray-light: #f5f8fa;
$primary-color-golden: #dfb834;
$primary-color-golden-light: #f8db00;
$primary-color-light_green: #c6ff0a;
$primary-color-base: #f1f3f9;
//colors

///margins
$margin-xlg: 12rem;
$margin-lg: 7rem;
$margin-md: 5rem;
$margin-sm: 2.5rem;
$margin-xsm: 1.5rem;
//Input heights
$standard_input_height: 3rem;
$standard_font_height: 2rem;
$standard_form_padding: 1rem;

//FONT
$default-font-size: 1.8rem;
$small-font-size: 1.4rem;
$chat-date-font: 1.2rem;
$ul_links_padding_y: 0.5rem;
$ul_links_padding_x: 0.1rem;
